

.switch-input {
  display: none;
}
.switch-label {
  position: relative;
  display: inline-block;
  min-width: 112px;
  padding: 16px 0 16px 44px;
  margin: 16px 16px 0 16px;
  font-weight: 500;
  text-align: left;
  cursor: pointer;
}
.switch-label:before,
.switch-label:after {
  content: "";
  position: absolute;
  top: 50%;
  margin: 0;
  outline: 0;
          transform: translate(0, -50%);
          transition: all .3s ease;

  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
  -webkit-transition: all .3s ease;
}
.switch-label:before {
  left: 1px;
  width: 34px;
  height: 14px;
  background-color: #bdbdbd;
  border-radius: 8px;
}
.switch-label:after {
  left: 0;
  width: 20px;
  height: 20px;
  background-color: #fafafa;
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .14), 0 2px 2px 0 rgba(0, 0, 0, .098), 0 1px 5px 0 rgba(0, 0, 0, .084);
  border-radius: 50%;
}
.switch-label .toggle--on {
  display: none;
}
.switch-label .toggle--off {
  display: inline-block;
}
.switch-input:checked + .switch-label:before {
  background-color: #b3e5fc;
}
.switch-input:checked + .switch-label:after {
  background-color: #0091ea;
          transform: translate(80%, -50%);

  -webkit-transform: translate(80%, -50%);
      -ms-transform: translate(80%, -50%);
}
.switch-input:checked + .switch-label .toggle--on {
  display: inline-block;
}
.switch-input:checked + .switch-label .toggle--off {
  display: none;
}
