
// Fonts
@import url("https://fonts.googleapis.com/css?family=Nunito");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap/scss/bootstrap";

//Material Design Switch
@import "switch";

body,
html,
#app {
  width: 100%;
  height: 100%;
}

#proof:not(.dashboard) {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: white;
  background-image: url("/images/blur-background08.jpg");
  background-position: center;
  background-size: cover;
          user-select: none;

   -khtml-user-select: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-user-select: none;
     -moz-user-select: none;
       -o-user-select: none;

  .login,
  .register {
    .login-form {
      padding: 50px;
      background-color: RGBA(0,0,0,.3);
      border-radius: 5px;
    }

    img {
      display: flex;
      margin: 0 auto;
      margin-bottom: 20px;
    }

    input[type=email],
    input[type=password],
    input[type=text] {
      height: 50px;
      border: none;
      border-radius: 0;
    }

    input[type=password] {
      margin-top: 20px;
    }

    input[type=text] {
      margin-bottom: 20px;
    }

    button[type=submit].register.btn {
      margin-top: 40px;
    }

    button[type=submit],
    .btn.sign-up {
      width: 100%;
      height: 40px;
      color: white;
      font-size: 16px;
      text-transform: uppercase;
      background: #00b0ff;
      background:    -moz-linear-gradient(-45deg, #0091ea 0%, #00c853 100%);
      background: -webkit-linear-gradient(-45deg, #0091ea 0%,#00c853 100%);
      background:         linear-gradient(135deg, #0091ea 0%,#00c853 100%);
      border-radius: 0;
      transition: all 200ms ease 0s;
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#40c4ff', endColorstr='#69f0ae',GradientType=1 );

      &:hover {
        background: #00b0ff;
        background:    -moz-linear-gradient(-45deg, #00b0ff 0%, #00e676 100%);
        background: -webkit-linear-gradient(-45deg, #00b0ff 0%,#00e676 100%);
        background:         linear-gradient(135deg, #00b0ff 0%,#00e676 100%);
      }
    }

    .title {
      color: white;
      font-size: 30px;
      text-align: center;
    }

    .form-check {
      width: 100%;
      padding: 0;

      span {
        white-space: nowrap;
      }

      span.toggle--on {
        color: white;
      }

      span.toggle--off {
        color: #bdbdbd;
      }
    }

    .form-group a {
      color: #bdbdbd;
      text-decoration: none;
      transition: color 200ms ease 0s;

      &:hover {
        color: white;
      }
    }

    .btn.sign-up {
      margin-top: 10px;
    }
  }

  .dashboard {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100%;

    .content {
      width: 100%;
    }
  }
}

#proof.dashboard {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  background-color: #282a31;

  .waves-effect.waves-blue-green .waves-ripple {
    background: #00b0ff;
    background:    -moz-linear-gradient(-45deg, #0091ea 0%, #00c853 100%);
    background: -webkit-linear-gradient(-45deg, #0091ea 0%,#00c853 100%);
    background:         linear-gradient(135deg, #0091ea 0%,#00c853 100%);
  }

  #header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-shrink: 0;
    height: 60px;
    background-color: #1a1c20;

    .brand {
      flex-shrink: 0;
      width: auto;
      min-width: 250px;
      color: white;

      .text {
        display: flex;
        align-items: center;
        height: 100%;
        padding: 0 20px;
        font-size: 1.5em;

        a {
          font-weight: bold;
          text-decoration: none;
          text-transform: uppercase;
          background-image: linear-gradient(90deg,#00b0ff,#00e676);
          transition: color 200ms ease-in-out 0s;

          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          &:hover {
            background-image: linear-gradient(90deg,#00e676,#00b0ff);

            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
          }
        }
      }
    }

    .info {
      display: flex;
      align-items: center;
      width: 100%;
      margin-left: 20px;
      color: white;
      font-size: 1.5em;
    }

    .profil {
      display: flex;
      flex-shrink: 0;
      width: auto;
      padding: 0 10px;

      .avatar {
        width: 50px;
        height: 50px;
        margin: 5px 20px;
        background-image: url("/images/login.svg");
        background-position: 0 5px;
        background-size: cover;
        border-radius: 50%;

        img {
          width: 50px;
          height: 50px;
          background-position: 0 5px;
          background-size: cover;
          border-radius: 50%;
        }
      }

      .name {
        display: flex;
        align-items: center;
        width: auto;
        height: 100%;
        color: white;
      }

      .dropdown {
        position: absolute;
        top: 60px;
        right: 0;
        display: block;
        display: none;
        width: auto;
        min-width: 100px;
        margin-right: 25px;

        ul {
          margin: 0;

          li {
            display: flex;
            align-items: center;
            padding: 10px 20px;
            color: #e0e0e0;
            background-color: #23252b;
            cursor: pointer;

            &:hover {
              color: white;
              background-color: #1a1c20;
            }

            span {
              margin-left: 10px;
            }
          }

          li.logout {
            padding: 15px 20px 10px;
            border-top: 1px solid #1a1c20;
          }

          a {
            text-decoration: none;
          }
        }
      }
    }

    .profil:hover > .dropdown {
      display: block;
    }
  }

  #main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100%;

    #sidebar {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      flex-shrink: 0;
      width: 250px;
      background-color: #23252b;

      ul.top,
      ul.bottom {
        padding: 0;

        li {
          display: flex;
          align-items: center;
          width: 100%;
          height: 50px;
          margin: 0;
          color: #e0e0e0;

          span {
            text-transform: uppercase;
          }

          &:not(.subnav):hover {
            color: white;
            background-color: #1a1c20;
          }

          i {
            width: 50px;
            text-align: center;
          }

          ul {
            padding: 0;

            li {
              display: flex;
              align-items: center;
              width: 100%;
              height: 30px;
            }
          }
        }

        li.subnav {
          display: block;
          height: auto;

          .subnav-link {
            display: flex;
            align-items: center;
            height: 50px;
            cursor: default;
          }

          .subnav-content {
            ul {
              li {
                padding-left: 50px;
                color: #e0e0e0;

                &:hover {
                  color: white;
                }
              }
            }
          }
        }
      }

      ul.bottom {
        margin: 0;
      }
    }

    #content {
      width: 100%;
      padding: 50px;

      #add {
        label {
          color: #e0e0e0;
        }
        .date input[type=number] {
          color: #e0e0e0;
        }
      }
    }
  }

  .card {
    background-color: #23252b;
    border: none;
    border-radius: 0;
    transition: opacity 200ms ease 0s;
    cursor: pointer;
    opacity: .8;

    .card-content {
      padding: 0;
      .card-title {
        padding: 10px 20px 10px;
        color: RGBA(0,0,0,.6);
        font-weight: bold;
        background-image: linear-gradient(90deg,#00b0ff,#00e676);

        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }

      .card-body {
        color: #e0e0e0;
      }
    }

    .card-action {
      background-color: #23252b;

      a {
        color: white;
      }
    }

    &:hover {
      opacity: 1;
    }
  }
}
